.container {
  position: relative;
  max-width: 500px;
  padding: 0;
}

.head {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  position: relative;
  top: 250px; /* height: 150 + margin: 40x2 */
  left: 50%;
  transform: translateX(-50%);
}

.div-circle {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: #444;
  border: 5px solid #444;
  border-radius: 50%;
}

#curr_temp {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: -3px;
  font-size: 34px;
}

#curr_temp+span {
  font-size: 24px;
  color: #888;
}

.div-circle #clock {
  font-size: 18px;
  color: #888;
}

.jumbotron {
  margin-bottom: 0;
  padding: 15px;
  background-color: #FF9;
  border-radius: 0;
  box-shadow: 0px 0px 15px 0px #888;
}

.list-group-item {
  background-color: inherit;
}

.pointer {
  cursor: pointer;
  font-size: 20px;
}

.monospace {
  font-family: monospace;
  font-size: 16px;
}
/*
.collapse {
  margin-top: 10px;
  margin-left: 20px;
}

.collapse button {
  margin-top: 15px;
  padding: 1px 6px;
}*/
